<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-12">
    <div class="form-group row text-right">
      <%= form.label :precio, class: "col-md-4" %>
      <%= form.number_field :price, class: "form-control col-md-6" %>
    </div>
    <div class="form-group row text-right">
      <%= form.label :descripcion, class: "col-md-4" %>
      <%= form.text_area :description, class: "form-control col-md-6" %>
    </div>
    <div class="form-group row text-right">
      <%= form.label :imagen, class: "col-md-4" %>
      <% if !product.image.attachment.nil? %>
        <%= image_tag product.image, class: "form_img" %>
        <%= form.file_field :image, class: "col-md-6" %>
      <% else %>
        <%= form.file_field :image, class: "col-md-6" %>
      <% end %>
    </div>

  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'btn btn-success float-right' %>
  </div>
<% end %>
