
<div class="card-deck">


<% @products.each do |product| %>
<div class="card table-responsive">
  <div class="card-header">
    <%= product.price %>
  </div>
  <div class="card-body">
    <%= image_tag product.image, class: "image_principal_page" %>
  </div>
  <div class="card-footer">
    <%= product.description %>
    <%= link_to "Comprar", orders_path, class: "btn btn-success float-right" %>
    <div><%= link_to 'Mostrar', product %></div>
    <div><%= link_to 'Editar', edit_product_path(product) %></div>
    <div><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
</div>
<% end %>

</div>
<br>

<%= link_to 'New Product', new_product_path %>
