<!DOCTYPE html>
<html>

  <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type => 'image/png' %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="luiscarlosgarcialucho@gmail.com">
    <title>eCommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top" >
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark static-top sticky_eCommerce_navbar">
        <a class="navbar-brand mr-1" href="/">
          <img src="<%= asset_path('logo.png') %>" style="widht: 85px; height: 50px">
          Your E-commerce
        </a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          <%= link_to edit_user_path(current_user), class: "btn btn-success", id: 'user_profile' do %><i class="fa fa-fw fa-user"></i> <%= t('layouts.application.profile') %><% end %>
          <%= link_to "Cliente", clients_path, class: "btn btn-success" %>
          <%= link_to "Productos", products_path, class: "btn btn-success" %>
          <%= link_to "Ordenes", orders_path, class: "btn btn-success" %>
          <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi-access-point"></i>
              <%= current_user.name %>
            </a>

          </li>
        </ul>
      </nav>
    </header>

    <main class="bd-content p-5">
      <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
          <!-- Dashboard redirect_to users -->
          <li class="nav-item active">
            <% link_to  users_path, class: "nav-link" do %>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
            <% end %>
          </li>
          <!-- Starts orders -->
          <li class="nav-item dropdown">

            <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
              <h6 class="dropdown-header">Orders</h6>

            </div>
          </li>

        </ul>

        <div id="content-wrapper">
          <div class="container-fluid">
            <div class="col-md-12 text-center">
            </div>

            <div class="col-md-12">
              <!-- Here renders rails -->
              <%= yield %>
              <!-- DataTables Example -->
            </div>

          </div>
          <!-- /.container-fluid -->

          <!-- Sticky Footer -->
          <!-- Footer -->
        </div>
        <!-- /.content-wrapper -->

      </div>
      <!-- /#wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

    </main>

    <footer class="bd-footer text-muted bg-dark">
      <!-- Copyright -->
      <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
        <a href="http://www.unilibre.edu.co/" target="_blank">Universidad Libre</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </body>

  <script type="text/javascript">
    (function($) {
      "use strict";

      // Add active state to sidbar nav links
      var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
      $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
        if (this.href === path) {
          $(this).addClass("active");
        }
      });

      // Toggle the side navigation
      $("#sidebarToggle").on("click", function(e) {
        e.preventDefault();
        $("body").toggleClass("sb-sidenav-toggled");
      });
    })(jQuery);
  </script>
</html>
